<div class="container pagetop">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div id="reciept_title" class="title">
        <h2 class="title center">領 収 証</h2>
      </div>

      <% # 請求書番号と日付 %>
      <p class="right">
        No: I-<%= set_number(@offer) %><br>
        <!--後で支払いを行った日に変える-->
        <%= show_date(@payment.recieved_at) %>
      </p>

      <% # 宛名 %>
      <div id="reciept_supporter_name">
        <h4>合同会社ギフトポート 御中</h4>
      </div>

      <% # 挨拶文 %>
      <p>
        下記の通り代金を受領いたしました。
      </p>

      <%# 額面金額 %>
      <p class="total-bill center">
        <span>受領金額: </span>
        <span class="strong"> ￥<%= ( total(@payment) - @payment.system_fee ).to_s(:delimited) %>-</span>
        <span>(税込)</span>
      </p>
      <p id="reciept__description" class="center">但し、パフォーマンス料として</p>

      <div id="reciept">
        <p>(内訳)</p>
      	<table id="reciept__table" class="table">
      	  <tbody>
      	    <tr>
      	      <th colspan="2" class="left">演奏料及びスタッフ人件費</th>
      	    </tr>
      	    <tr>
      	      <td scope="row" class="left">実演料(源泉税込)</td>
      	      <td class="right"><%= (@payment.guarantee / (1 - withholding_tax_rate)).to_i.to_s(:delimited) %>円<br></td>
      	    </tr>
      	    <tr>
      	      <td scope="row" class="left">スタッフ人件費(源泉税込)</td>
      	      <td class="right"><%= (@payment.staff  / (1 - withholding_tax_rate)).to_i.to_s(:delimited) %>円</td>
      	    </tr>
      	    <tr>
      	      <td scope="row" class="right">小計</td>
      	      <td class="right"><%= ( subtotal_main(@payment)  - @payment.system_fee ).to_s(:delimited) %>円</td>
      	    </tr>
            <tr>
              <th colspan="2" class="left">事前精算経費(実費相当)</th>
            </tr>
            <tr>
              <td scope="row" class="left">交通費</td>
              <td class="right"><%= @payment.transport.to_i.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td scope="row" class="left">宿泊費</td>
              <td class="right"><%= @payment.accommodation.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td scope="row" class="left">運搬費</td>
              <td class="right"><%= @payment.carriage.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td scope="row" class="left">楽器及び機材費</td>
              <td class="right"><%= @payment.equipment.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td scope="row" class="left">その他経費</td>
              <td class="right"><%= @payment.other_expenses.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td scope="row" class="right">小計</td>
              <td class="right"><%= subtotal_expenses(@payment).to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td scope="row" class="right">
                <span class="strong">税込総額</span><br>
                <span>(内消費税相当額</span>
              </td>
              <td class="right">
                <span class="strong"><%= ( total(@payment) - @payment.system_fee ).to_s(:delimited) %>円<br></span>
                <%= (( total(@payment) - @payment.system_fee ) * sales_tax_rate / ( 1 + sales_tax_rate)).to_i.to_s(:delimited) %>円)
              </td>
            </tr>
      	  </tbody>
      	</table>
      </div>

      <% # 備考 %>
      <p>
        オファーID: <%= @offer.id %><br>
        実施日: <%= @offer.meeting_time.strftime("%Y年%m月%d日") %> (場所: <%= @offer.place %>)<br>
        備考: <%= simple_format(@payment.detail) %>
      </p>

      <hr>

      <div id="from_address">
        <p class="right">
          <span><%= @user.basic.zipcode %> <%= @user.basic.pref %> <%= @user.basic.city %> <%= @user.basic.street %></span><br>
          <span><%= @user.basic.bldg %></span><br>
          <span><%= @user.basic.lastname %> <%= @user.basic.firstname %></span><br>
          <span><%= @user.basic.phone %></span><br>
          <span><%= @user.email %></span>
        </p>
      </div>

    </div>
  </div>
</div>
