<div class="container pagetop">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div id="reciept_title" class="title">
        <h2 class="title center">領 収 証</h2>
      </div>

      <% # 請求書番号と日付 %>
      <p class="right">
        No: I-<%= set_number(@offer) %><br>
        <%= show_date(@payment.recieved_at) %>
      </p>

      <% # 宛名 %>
      <div id="reciept_supporter_name">
        <h4 class="strong">
          <%= show_company_name(@user.basic) %> <%= @user.basic.department %><br>
          <%= @user.basic.lastname %> <%= @user.basic.firstname %> 様</h4>
      </div>

      <% # 挨拶文 %>
      <p>
        平素より格別のご高配を賜り誠に有難うございます。 <br>
        下記の通り代金を受領いたしました。
      </p>

      <%= render partial: 'offers/payment_detail_for_supporter', locals: { offer: @offer, payment: @payment } %>

      <% # 備考 %>
      <p>
        オファーID: <%= @offer.id %><br>
        実施日: <%= @offer.meeting_time.strftime("%Y年%m月%d日") %> (場所: <%= @offer.place %>)<br>
        備考: <%= simple_format(@payment.detail) %>
      </p>

      <hr>

      <div id="from_address">

        <p>
          この度は当サービスをご利用くださり誠に有難うございました。<br>
          またのご利用をお待ち申し上げております。
        </p>

        <p class="right">
          〒160-0023
          東京都新宿区西新宿7-1-7 1018
          合同会社ギフトポート
        </p>
      </div>

    </div>
  </div>
</div>
