<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    ライブハウス登録/変更が承認されました
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    <%= @user.basic.lastname.to_s %> 様
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    以下のライブハウス登録/変更が承認されました。<br>
    <br>
    ライブハウスID: <%= @livehouse.id %><br>
    ライブハウス名: <%= @livehouse.livehouse_name.to_s %><br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    <p style="font-weight:bold;"></p>

    <p style="font-weight:bold;"></p>

    <p style="font-weight:bold;"></p>
      <br>
      <br>
      <%= link_to livehouse_url(@livehouse), livehouse_url(@livehouse) %><br>
    <br>
    <p style="font-weight:bold;"></p>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    オファーの実績に比例して検索順位は上がります。<br>
    ぜひ、たくさんオファーを取ってください！<br>
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
