<div id="dashboard-livehouse" >

  <% #ステップ1 - 会員情報の登録 %>
  <% unless (current_user.basic.present?) %>
      <p class="margin__top__2em"><h5 class="title">ステップ1</h5></p>
      <p><h5 class="title">会員情報の登録をお願いします。</h5></p>

      <p class="text__area">
        ライブハウス登録には本人確認が必要です。<br>
        まずは会員情報の登録を行ってください。<br>
      </p>

      <% if livehouse? %>
        <p class="text_area">
          事前に以下のものがあるとスムーズです。<br>
          ・本人確認書類(運転免許書等)<br>
          ・振込先の銀行口座がわかるもの<br>
        </p>
      <% end %>

      <p class="button__area center">
        <%= link_to "会員情報登録を行う", edit_profile_path(current_user), class: "btn btn-success" %>
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uTowHIygClQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr>
  <% end %>

  <% #ステップ2 - Stripeアカウントの登録 %>
  <% unless current_user.stripe_user_id.present? %>
    <h5 class="title">ステップ2</h5>
    <h5 class="title">Stripeアカウントの作成と接続を行います。</h5>
    <p>
      支援金の受け取りには米国Stripe社の提供する、Stripeアカウントが必要になります。<br>
      登録は一切無料です。メールアドレスと本人確認書類(免許証等)、受取口座の情報をご準備ください。
    </p>
    <div class="button__area center">
      <%= link_to "Stripeアカウントの作成", "https://stripe.com/jp", class:"btn btn-primary", target:"blank" %>
    </div>
    <p class="annotation red">※Stripeアカウントが凍結しないよう必要な情報は全て入力してください。</p>

    <div class="text__area">
      <p>
        次にStripeと本サイトの双方にログインした状態で、下の「Stripeアカウントの連携」からアカウントの連携を行ってください。
      </p>
    </div>
    <div class="button__area center">
      <%= link_to "Stripeアカウントの連携", "https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id="+Rails.configuration.stripe[:oauth_client_id]+"&scope=read_write&state="+user_token(current_user), class:"btn btn-primary", target:"blank" %>
    </div>
    <div class="text__area">
      <p class="strong">支援金を受け取るまでの流れ</p>
      <p>
        ここまでの作業が完了したら、お客様のStripeアカウント上で入金状況等をリアルタイムで確認することができます。<br>
        Stripe社の提供するスマートフォンアプリからもお客様のStripeアカウントの状況を確認することが可能です。<br>
      </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Pqvsf2SC-bg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
  <% end %>

  <% unless current_user.livehouses.present? %>
    <h5 class="title">ステップ3</h5>
    <h5 class="title">ライブハウスを登録しましょう。</h5>
    <p class="text__area">
      運営・所有しているライブハウスを登録しましょう。<br>
      最大<%= Constants::MAX_GROUPS %>店まで登録できます。<br>
    <p>下の「ライブハウスを登録する」をクリックして情報を入力しましょう。</p>
    <% if current_user.certified? && current_user.stripe_user_id.present?  %>
  	<p class="button__area center">
      <%= link_to "ライブハウスを登録する", new_user_livehouse_path(current_user), class:"btn btn-success" %>
    </p>
    <% else %>
    <p class="annotation red">
      ただいまアカウントの審査待ちです。ライブハウスは審査が完了した後に登録が可能になります。
    </p>
    <% end %>
  <% else %>
    <%= render 'reward' %>
  <% end %>

</div>
