<div class="container pagetop">
  <h3 class="title">ライブハウス登録・編集 承認画面</h3>

  <hr>

  <div>
    <p>登録者情報</p>
    ユーザーID: <%= @user.id %><br>
    お名前: <%= @user.basic.lastname %> <%= @user.basic.firstname %> 様<br>
    お名前フリガナ: <%= @user.basic.lastname_kana %> <%= @user.basic.firstname_kana %><br>
    会社名・所属団体: <%= @user.basic.company %><br>
    連絡先: <%= @user.email %><br>
    電話番号: <%= @user.basic.phone %>
  </div>

  <hr>

  <div>
    <p>登録を希望するライブハウスの情報</p>
    <p>
      ライブハウスID: <%= @performer_profile.id %><br>
      ライブハウス名: <%= @performer_profile.performer_name %><br>
    </p>

    <p>運営者情報</p>
    <p>
      ライブハウス所在地:
      <%= @performer_profile.zipcode %> <%= @performer_profile.pref %><%= @performer_profile.city %><%= @performer_profile.street %><%= @performer_profile.bldg %><br>
      ライブハウスURL: <%= @performer_profile.shop_url %><br>
      電話番号: <%= @performer_profile.shop_phone %><br>
      メールアドレス: <%= @performer_profile.shop_email %><br>
      運営会社: <%= @performer_profile.company %><br>
      責任者名: <%= @performer_profile.manager %><br>
      オーナー名: <%= @performer_profile.owner %><br>
    </p>
    <p>掲載を希望する内容</p>
    <p>
      月間目標金額: <%= @performer_profile.basic_guarantee %><br>
      ジャンル: <%= @performer_profile.genre %><br>
      地域: <%= @performer_profile.area %><br>
      キャパシティ: <%= @performer_profile.conditions %><br>
      プロフィール(見出し): <%= @performer_profile.profile_short %><br>
      プロフィール(詳細): <%= @performer_profile.profile_long %><br>
      備考: <%= @performer_profile.conditions_detail %><br>
      サンプル動画URL1: <%= @performer_profile.sample_movie_url1 %><br>
      サンプル動画URL2: <%= @performer_profile.sample_movie_url2 %><br>
      サンプル動画URL3: <%= @performer_profile.sample_movie_url3 %><br>
    </p>
    <p>
    登録日: <%= @performer_profile.created_at %><br>
    更新日: <%= @performer_profile.updated_at %><br>
    </p>
  </div>

  <hr>

  <div>
    <%= link_to "ライブハウスページを確認する", performer_path(@performer_profile), target: "blank" %>
  </div>

  <div class="button__area center">
    <%= form_with model: @performer_profile, url: admin_approval_path do |f| %>
      <%= f.hidden_field :certified, value: true %>
      <%= f.submit "新規登録・変更を承認する", class: "btn btn-success" %>
    <% end %>
  </div>

</div>
