<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <h3 class="title center">ライブハウス登録・編集</h3>

      <hr>

      <%= form_for @performer_profile, :html => {:multipart => true}  do |p| %>

      <% if @performer_profile.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @performer_profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!--ミュージシャンプロフィール-->

        <h5 class="title">プロフィール</h5>

        <div class="form-group">
          <%= p.label :performer_name %>
          <span class="required"> *</span><br>
          <%= p.text_field :performer_name, class: "form-control", placeholder: "ライブハウス名", autofocus: true %>
        </div>

        <div class="form-group">
          <%= p.label :basic_guarantee %>
          <span class="required"> *  </span><br>
          <span class="annotation">※単位:円/月 数字で入力してください。</span>
          <br>
          <%= p.text_field :basic_guarantee, class: "form-control", placeholder: "750000", autofocus: true %>
        </div>

        <div class="form-group">
          <%= p.label :genre %>
          <span class="preference" data-toggle="popover" data-html="true" data-placement="bottom" data-content="音楽ジャンルで検索できるようになります。">
          <%= fa_icon "question-circle", class:'gray' %> <br>
          </span>
          <%= p.text_field :genre, id: "genre", class: "form-control", placeholder: "例：ジャズ ロック フォークなど", autofocus: true, "data-role" => "tagsinput" %>
          <%= p.hidden_field :music_genre_list , id:"genre-tag" %>
        </div>

        <div class="form-group">
          <%= p.label :area %>
          <span class="preference" data-toggle="popover" data-html="true" data-placement="bottom" data-content="地域名フリーワード検索用キーワード">
          <%= fa_icon "question-circle", class:'gray' %> <br>
          </span>
          <%= p.text_field :area, class: "form-control", placeholder: "渋谷 新宿 梅田など", autofocus: true %>
        </div>

        <div class="form-group">
          <%= p.label :profile_short %>
          <span class="required"> *  </span><br>
          <%= p.text_area :profile_short, rows: 3, maxlength: 100, class: "form-control", placeholder: "100文字以内", autofocus: true %>
        </div>

        <div class="form-group">
          <%= p.label :profile_long %>
          <span class="required"> *  </span><br>
          <%= p.text_area :profile_long, rows: 7, maxlength: 1000, class: "form-control", placeholder: "1000文字以内", autofocus: true %>
        </div>

      <hr>

      <h5 class="title">ライブハウス写真</h5>

          <div class="form-group">
            <%= p.label :profile_photo %>
            <%= image_tag(@performer_profile.profile_photo, class:"profile-64round") if @performer_profile.profile_photo.attached? %>
            <%= p.file_field :profile_photo, id: :performer_profiles_profile_photo, accept: 'image/jpg,image/jpeg,image/png,image/gif', class: "form-control" %>
          </div>

          <div class="form-group">
            <%= p.label :cover_photo %>
            <%= image_tag(@performer_profile.cover_photo, class:"profile-64round") if @performer_profile.cover_photo.attached? %>
            <%= p.file_field :cover_photo, id: :performer_profiles_cover_photo, accept: 'image/jpg,image/jpeg,image/png,image/gif', class: "form-control" %>
          </div>

      <hr>

      <h5 class="title">備考</h5>

        <div class="form-group">
          <%= p.label :conditions %>
          <span class="required"> *  </span><br>
          <%= p.text_field :conditions, class: "form-control", placeholder: "(例)最大40名", autofocus: true %>
        </div>

        <div class="form-group">
          <%= p.label :conditions_detail %>
          <%= p.text_area :conditions_detail, rows: 5, maxlength: 400, class: "form-control", placeholder: "備考欄（400文字以内）", autofocus: true %>
        </div>

      <hr>

      <h5 class="title">動画</h5>

        <div class="form-group">
          <%= p.label :sample_movie_url1 %>
          <%= p.text_field :sample_movie_url1, class: "form-control", placeholder: "Youtubeのみ", autofocus: true %>
        </div>

        <div class="form-group">
          <%= p.label :sample_movie_url2 %>
          <%= p.text_field :sample_movie_url2, class: "form-control", placeholder: "Youtubeのみ", autofocus: true %>
        </div>

        <div class="form-group">
          <%= p.label :sample_movie_url3 %>
          <%= p.text_field :sample_movie_url3, class: "form-control", placeholder: "Youtubeのみ", autofocus: true %>
        </div>

        <div class="form-check">
          <%= p.label :published %>
          <%= p.check_box :published, data: {on: '公開', off: '非公開', onstyle: 'success', offstyle: 'secondary'} %>
        </div>

        <%= p.hidden_field :number_of_member, value: 1 %>
        <%= p.hidden_field :certified, value: false %>

    <hr>

        <div class="actions">
          <%= p.submit "公開審査を依頼する", class: "btn btn-info" %>
        </div>

      <% end %>

    <hr>

        <div>
          <%= link_to "このグループを削除する", performer_path(@performer_profile), method: "delete",
           class: "btn btn-danger btn-sm", data: { confirm: "一度削除すると元に戻せません。本当にこのグループを削除しますか?"} %>
        </div>

    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {

//POPOVER
  $(function () {
    $('[data-toggle="popover"]').popover();
  });

//公開設定のBootstrap Toggle
  $(function () {
    $('#performer_profile_published').bootstrapToggle();
  });

//時間があるときにnewアクション時のものと共通部品化する
  $(function(){
    //タグが登録されている場合、何もせずフォームが保存されるとカンマ抜きで登録されるので、その対処
    $("#genre-tag").val($("#genre-tag").val().replace(/\s+/g, ","));
    $("#instrument-tag").val($("#instrument-tag").val().replace(/\s+/g, ","));

    //ジャンルと楽器編成の隠しフォーム(タグ用)へフォームの内容をうつす
    $("#genre").on('load click keyup',function(){
      genreTags = $("#genre").val();
      $("#genre-tag").val(genreTags);
    });

    $("#set-of-instruments").on('load click keyup',function(){
      instrumentTags = $("#set-of-instruments").val();
      $("#instrument-tag").val(instrumentTags);
    });
  });

 });
</script>
