<div class="container">

	<h3 class="title">ライブハウス登録・管理</h3>

	<hr>

	<div id="make__new__group" class="button__area center">
		<h4 class="title">ライブハウスの新規登録</h4>
		<%= link_to "新規登録", new_user_performer_profile_path(current_user), class:"btn btn-primary" %>
	</div>

	<hr>

	<div class="container">
		<h4 class="title">登録済みのライブハウス</h4>
		<div class="row">
			<% @groups.each do |group| %>
				<div class="col-md-6 padding__1em">
					<%= image_tag thumbnail(group.profile_photo), class:"profile-64round" %>
					<h5 class="inline margin-left-1em"><%= group.performer_name %></h5>
					<p>基本演奏料：<%= (calculate_price(group.basic_guarantee)[1].to_i * group.number_of_member).to_s(:delimited) %>円</p>
						<p>
					    <%= link_to "プレビュー", performer_path(group.id), class:"btn btn-primary" %>
					    <%= link_to "編集", edit_performer_profile_path(group.id), class:"btn btn-info" %>
					    <%= link_to "名刺・リンク", new_name_card_path(id: group.id), class:"btn btn-outline-success" %>
						</p>
				</div>
			<% end %>
		</div>
	</div>

</div>
