<!--パフォーマー トップ-->
<div class="container">
	<div class="row">
		<div id="ProfileCard">
			<h3 class="title"><%= @performer_profile.profile_short %></h3>
		</div>
	</div>

	<!--プロフィール写真とレビュー、お気に入り-->
	<div class="row">
		<div id="performer__profile__photo" class="col-lg-4 margin__vertical__1em">
			<%= image_tag thumbnail(@performer_profile.profile_photo), class:"profile__photo__large" %>
		</div>

		<div class="col-lg-8 margin__vertical__1em">
			<h4 class="performer__name"><%= @performer_profile.performer_name %></h4>
			<div class="reviews__and__favorites">
				<span><%= render 'partial/favorite_button' %>件のお気に入り</span>
			</div>

			<table id="performer__profile__table" class="table left">
			  <tbody>
			    <tr>
			      <th scope="row" style="width:7em;">地域</th>
			      <td><%= @performer_profile.area %></td>
			    </tr>
			    <tr>
			      <th scope="row" style="width:7em;">ジャンル</th>
			      <td><%= @performer_profile.genre %></td>
			    </tr>
			    <tr>
			      <th scope="row" style="width:7em;">キャパシティ</th>
			      <td><%= @performer_profile.conditions %></td>
			    </tr>
			    <tr>
			      <td colspan="2" class="left">
							月間目標金額：<strong><%= @performer_profile.basic_guarantee.to_s(:delimited) %>円</strong><br>
							集まった金額：<strong><%= @performer_profile.basic_guarantee.to_s(:delimited) %>円</strong><br>
						</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<!--オファーボタン-->
<div id="performer__profiles__button">
	<% if (user_signed_in?) %>
		<!--自分には依頼と問い合わせをできないようにする-->
		<% if current_user.id == @performer_profile.user_id %>
		  	<p class="center"><%= link_to "編集", edit_performer_profile_path, class: "btn btn-info" %></p>
		<% else %>
		  	<p class="center"><%= link_to "このライブハウスを支援する", new_offer_path(:user => current_user, :contractor => @performer_profile.user_id, :offered_performer => @performer_profile), class: "btn btn-success" %></p>
		<% end %>
	<% else %>
	  	<p class="center"><%= link_to "会員登録して支援する", new_user_registration_path, class: "btn btn-success" %></p>
	<% end %>
</div>

<div class="container">
	<hr>
</div>

<!--演奏動画-->
<div class="container">
	<div id="PlayingVideos">
		<h4 class="title">ライブハウスの動画</h4>
		<div class = "row">
			<%= movie(@performer_profile.sample_movie_url1) %>
			<%= movie(@performer_profile.sample_movie_url2) %>
			<%= movie(@performer_profile.sample_movie_url3) %>
	 	</div>
	</div>
</div>

<div class="container">
	<hr>
</div>

<!--プロフィール詳細-->
<div class="container">
	<h4 class="title">プロフィール・メッセージ</h4>
	<div class="profile__textarea">
		<%= description(@performer_profile.profile_long) %>
	</div>

	<h4 class="title">備考</h4>
	<div class="profile__textarea">
		<p><%= description(@performer_profile.conditions_detail) %></p>
	</div>
</div>

<div class="container">
	<hr>
</div>

<!-- レビュー -->
<div class="container">
	<div id="Review">
		<div class="row">
			<div id="reviews__headline" class="col-lg-4">
				<!--スコアとレーダーチャート-->
				<h4 class="title">支援者とメッセージ</h4>
				<p>
					<span><%= @reviews.count %>人からのメッセージ</span>
				</p>
			</div>
			<!-- 個別レビュー -->
			<div id="reviews_detail" class="col-lg-8">
				<div class="reviews__detail__wrapper">
					<% @reviews.each do |review| %>
						<p>
							<span><%= image_tag show_reviewer_photo(review.reviewer), class:"profile-32round" %></span>
							<span><%= show_reviewer_name(review.reviewer) %></span>
						</p>
						<p>
							<%= simple_format(review.comment) %>
						</p>
						<hr>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<hr>
</div>

<!--この演奏家の所属グループ-->
<div class="container">
	<div id="Belongs">
		<h4 class="title">この運営者の他のライブハウス</h4>
		<%= render partial: 'partial/performer_list', locals: { performers: @groups} %>
	</div>
</div>


<div class="container">
	<hr>
</div>

<!--近隣の他のミュージシャン
<div class="container">
	<div id="OtherGroupsNear">
		<h4 class="title">近隣の他のミュージシャン</h4>
	</div>
</div>
-->
