<!--ミュージシャンごとのカバー写真-->
<div class="jumbotron-performer-cover">
	<%= image_tag @user.musician_profile.cover_photo.cover.url align: "center" %>
</div>

	<hr>

<div>
	<h1 class="profile-headline"><%= @user.musician_profile.profile_short %></h1>
</div>

<!--プロフィールカード-->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card" >
				<%= image_tag @user.musician_profile.profile_photo.thumb.url, class: "card-img-top" %>
				  <div class="card-block">
				    <h4 class="card-title"><%= @user.musician_profile.musician_name %></h4>
				    <p class="card-text">演奏楽器：<%= @user.musician_profile.instrument1 %>
				    	<%if @user.musician_profile.instrument2.present? %>
							、<%= @user.musician_profile.instrument2 %><br>
						<% end %>
				    </p>
				  </div>

				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">活動エリア：<%= @user.musician_profile.area %></li>
				    <li class="list-group-item">基本演奏料：<%= @user.musician_profile.basic_guarantee.to_s(:delimited) %>円</li>
				  </ul>
				  <div class="card-block">
				    <a href="#" class="card-link">プロフィールを見る</a><br>
				    <a href="#" class="card-link">この演奏家の動画を見る</a><br>
				    <a href="#" class="card-link">この演奏家のグループ・ユニットを見る</a><br>
				    <a href="#" class="card-link">この演奏家の活動エリアを確認する</a><br>
				    <a href="#" class="card-link">近隣の他の演奏家を見る</a><br>
				  </div>
			</div>
		</div>

<!--プロフィール-->
		<div class="col-md-8">
			演奏家名：<%= @user.musician_profile.musician_name %><br>
			区分：<%= @user.musician_profile.musician_class %><br>
			演奏楽器：<%= @user.musician_profile.instrument1 %>
				    <%if @user.musician_profile.instrument2.present? %>
					、<%= @user.musician_profile.instrument2 %><br>
					<% end %>
			基本演奏料：<%= @user.musician_profile.basic_guarantee.to_s(:delimited) %>円<br>
			演奏条件：<%= @user.musician_profile.play_condition %> <br>
			演奏条件（詳細）：<%= @user.musician_profile.play_condition_detail %><br>
			<hr>
			＜プロフィール詳細＞<br>
			<%= @user.musician_profile.profile_long %><br>
		</div>
	</div>
</div>

		<hr>


		<hr>

		演奏動画<br>
		<div class="container">
			<div class = "row">
					<%= movie(@user.musician_profile.sample_movie_url1) %>
					<%= movie(@user.musician_profile.sample_movie_url2) %>
					<%= movie(@user.musician_profile.sample_movie_url3) %>
		 	</div>
		</div>

	<hr>

		この演奏家の所属しているグループ

	<hr>

		活動エリア（googleマップ）

	<hr>

		近辺の他のミュージシャン
