<div class="container pagetop">

  <h4 class="title">キャンセルされたオファー一覧</h4>

  <% # adminのみ編集可能 %>
  <table class="table table-bordered">
    <thead class="thead table-success">
      <tr>
        <th scope="col">オファーID</th>
        <th>受取額</th>
        <th>クライアント返金額</th>
        <th>パフォーマー支払額</th>
        <th>利益</th>
        <th scope="col">操作</th>
      </tr>
    </thead>

    <tbody>
      <% @cancelled_offers.each do |f| %>
        <tr>
          <td class="right"><%= f.offer_id %></td>
          <td class="right"><%= f.recieved_amount.to_i.to_s(:delimited) %></td>
          <td class="right"><%= f.pay_amount_to_client.to_i.to_s(:delimited) %></td>
          <td class="right"><%= f.pay_amount_to_performer.to_i.to_s(:delimited) %></td>
          <td class="right"><%= show_profit(f) %></td>
          <td class="">
            <%= link_to '(編集)', admin_payback_path(f.offer_id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <hr>

  <%= render partial: 'partial/pagination', locals: {elements: @cancelled_offers} %>

</div>
