<div class="container">

<h2>名刺をオーダーする</h2>
<hr>
  <div class="row">
    <div class="col-lg-6">
      <h4 class="margin-1em">パフォーマー名: <%= @performer.performer_name %></h4>
      <%= render 'name_cards/namecard_preview' %>
    </div>

    <div class="col-lg-6">

      <%= form_with model: @order, local: true do |f| %>

        <% if @order.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <ul>
              <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-input">
          <h4>お届け先</h4>
            <p>
              <%= f.label :zipcode %>
              <%= f.text_field :zipcode, id:'zipcode', class:'form-control', autofocus: true %>
            </p>
            <p>
              <%= f.label :pref %>
              <%= f.text_field :pref, id:'perf', class:'form-control', autofocus: true %>
            </p>
            <p>
              <%= f.label :city %>
              <%= f.text_field :city, id:'city', class:'form-control', autofocus: true %>
            </p>
            <p>
              <%= f.label :street %>
              <%= f.text_field :street, id:'street', class:'form-control', autofocus: true %>
            </p>
            <p>
              <%= f.label :bldg %>
              <%= f.text_field :bldg, class:'form-control', autofocus: true %>
            </p>
            <p>
              <%= f.label :reciever_name %>
              <%= f.text_field :reciever_name, class:'form-control', autofocus: true %>
            </p>
            <hr>
            <p>
              <%= f.label :delivery_date %>
              <%= f.date_select :delivery_date %><br>
              ※本日より7日後以降でお選び下さい。
            </p>
          <hr>
          <h4>オーダー枚数</h4>
          <div>
            <p>
              <%= f.radio_button(:amount, '100', class:'order_amount') %> 100枚 / 2,500円(消費税・送料込み)<br>
              <%= f.radio_button(:amount, '200', class:'order_amount') %> 200枚 / 4,000円(消費税・送料込み)<br>
            </p>
          </div>
          <div id="payment-view">
          <p>お支払い金額: <span id="price-preview"></span> 円(消費税・送料込み)</p>
          <p>
            <%= f.radio_button(:payment_option, 1, class:'radio_button_pay_options') %> クレジットカード<br>
            <%= f.radio_button(:payment_option, 2, class:'radio_button_pay_options') %> 銀行振込<br>
          </p>
          </div>
        </div>
        <div class="form-submit actions">
          <%= f.submit "オーダー画面に進む", class: "btn btn-info" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(".order_amount").on('click keyup', function() {
    if ($('input[name="name_card_order[amount]"]:checked').val() == 100 ){
      $('#price-preview').text("2,500");
    }else if($('input[name="name_card_order[amount]"]:checked').val() == 200 ){
      $('#price-preview').text("4,000");
    }else{
      $('#price-preview').text("");
    }
  });

$(function() {
  return $("#zipcode").jpostal({
    postcode: ["#zipcode"],
    address: {
      "#perf": "%3",
      "#city": "%4",
      "#street": "%5"
    }
  });
});
</script>
