<div id="home__jumbotron">
  <div id="home__jumbotron__wrapper">
    <h1 class="jumbotron__eyecatch__text">
      <span class="home__slogan">ライブハウスに</span>
      <span class="home__slogan">今すぐ支援を届ける</span><br>
    </h1>
      <p id="home__slogan__subtext">
        <span class="slogan_subtext">登録不要・クラウドファンディング型</span><br>
        <span class="slogan_subtext">ライブハウス応援プロジェクト</span><br>
      </p>
      <div class="center button__area">
        <%= link_to "サービスについて", "#about", class: "btn btn-primary" %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#RegistrationConfirmationModal">ライブハウス登録</button>
      </div>
      <div id="livehouse__search__box">
        <%= form_with url: livehouse_search_path, method: :get, local: true do |livehouse_search| %>
          <%= livehouse_search.text_field :keyword, placeholder: "地域 / ライブハウス名で検索", id: "livehouse-search-input", class:"form-control rounded-pill" %>
        <% end %>
      </div>
  </div>
</div>

<div id="about">
  <%= render 'about' %>
</div>

<div class="container">
  <h3 class="title orange padding__vertical__2em center">
    ライブハウス登録期間中です。<br>
    支援金の受け入れ開始まで、<br>
    いましばらくお待ち下さい。
  </h3>
</div>

<!--ここから先はライブハウス登録完了時にアップ

<div id="new__livehouses">
  <h3 class="title center">新着ライブハウス</h3>
  <%= render partial: 'partial/livehouse_list', locals: { livehouses: @new_livehouses} %>
</div>

<hr>

<div id="recently__viewed">
  <h3 class="title center">最近見たライブハウス</h3>
  <%= render 'partial/recently_viewed_livehouses' %>
</div>

-->

<hr>
