<% @contacts.each do |c| %>

	<hr>
		<div class="col-sm-3">
			<%= image_tag photo(get_reciever_photo(c.user1, c.user2)), class: "profile-64round" %>
			<%= get_reciever_name(c.user1, c.user2) %> <br>
		</div>
		<div class="col-sm-6">
			 <p> => performer: <%= get_performer_name(c.performer) %></p>
		</div>
		<div class="col-sm-3">
			<div class="right">
				<%= link_to "チャット", contact_path(c.id), class: "btn btn-outline-success" %>
				<%= link_to "オファー管理", offers_path(current_user), class:"btn btn-outline-primary" %>
			</div>
		</div>

<% end %>
