<div class="swiper-container">
  <div class="swiper-wrapper">
    <% livehouses.each do |livehouse| %>
      <% livehouse = set_profile_card_instance(livehouse) %>
      <% unless livehouse.nil? %>
        <div class="swiper-slide">
          <div class="card profile_card shadow-sm">
            <div class="row no-gutters">
              <div class="col-4 profile_card__photo">
                <%= image_tag thumbnail(livehouse.profile_photo), size: "96x96"  %>
              </div>
              <div class="col-8">
                <div class="card-body profile_card__textarea">
                  <h5 class="card-title"><%= livehouse.livehouse_name%></h5>
                  <p>
                    <span class="card-text"><%=livehouse.area %></span><br>
                    <span class="card-text"><%= livehouse.genre %></span><br>
                    <span class="card-text">
                      月間目標金額: <%= livehouse.required_amount.to_s(:delimited) %>円
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="profile_card__link_button">
                <span class="center"><%= link_to '詳細を見る', livehouse_path(livehouse.id), class:'btn btn-sm btn-primary stretched-link' %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% unless livehouses.present? %>
      この運営者の他のライブハウスは登録されていません。
    <% end %>
  </div>
</div>
