<h5 class="title">支援内容</h5>
<p class="annotation">以下の内容でサイトに寄付内容が公表されます</p>
<div id="public_post">
  <p>お名前: <%= @donation.nickname %></p>
  <p>
    支援金額: <%= @donation.amount.to_s(:delimited) %>円<br>
    <span class="annotation red">金額にお間違いがないか今一度ご確認ください。
  </p>
  <p>メッセージ: <%= simple_format(@donation.message) %></p>
</div>

<br>

<h5 class="title">ご支援者様情報</h5>
<p class="annotation">お名前とメールアドレスのみライブハウス運営者に共有される場合がありますが、その他は一切公開されません。</p>
<div id="supporter_info">
  <p>ご支援者様本名: <%= @donation.name %> 様</p>
  <p>メールアドレス: <%= @donation.email %></p>
  <p>お電話番号: <%= @donation.phone %></p>
  <p>ご住所:<br>
    <%= @donation.zipcode %> <%= @donation.pref %><%= @donation.city %><%= @donation.street %><br>
    <%= @donation.bldg %>
  </p>
</div>
