<%= form_with(model: help, local: true) do |form| %>

  <% if help.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% help.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, category_array, {}, {class: "form-control"} %>
  </div>

  <div class="field margin-bottom-1em">
    <%= form.label :content %>
    <%= form.trix_editor :content, required: true, autofocus: true %>
  </div>

  <div class="button__area">
    <p><%= form.submit "記事を更新する" , class:"btn btn-primary" %></p>
  </div>

<% end %>

<hr>
