<div class="container" id="chat_messages">
  <a href="#chatMessagesBody"><i class="fa fa-edit fa-2x" id="to__message__form"></i></a>
  <%= render @messages %>
  <div id="new_message" class="right"></div>
</div>

<div class="right annotation">
  <a href="#">(⬆ページトップヘ)</a>
</div>

<hr>

<!--チャット画面-->
<div class="container">
  <%= form_with model: @message, url: chat_messages_path, :html => {:multipart => true}, remote: true, authenticity_token: true do |f| %>

    <% if @message.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @message.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class= "row justify-content-center">
      <div class= "col-md-10">
        <div class="form-group center">
          <%= f.text_area :body, id:"chatMessagesBody",class: "form-control", rows: 5 %>
        </div>

          <%= f.hidden_field :contact_id, id:"contactId", value: @contact.id %>
          <%= f.hidden_field :offer_id, value: @contact.offer_id %>
          <%= f.hidden_field :from, id:"fromId", value: @from.id  %>
          <%= f.hidden_field :to, value: @to.id  %>

        <div class="actions button__area center">
          <%= f.submit "メッセージを送信", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>

  <% if client? %>
    <p class="annotation">オファーを作成するには、ページ上部の「内容」タブをクリックまたはタップしてください。</p>
  <% end %>

</div>
