<div id="estimation__printable" >

  <h3 class="title center">お見積り</h3>
  <div class="right"><%= @offer.estimation.updated_at.strftime("%Y年%m月%d日") %></div>

  <div id="estimation__total__price">
    <h4 class="title">合計金額: <%= total(@offer.estimation).to_s(:delimited) %>円(税込)</h4>
  </div>

  <div id="estimation__detail">
  	<table id="estimation__table" class="table">
  	  <tbody>
  	    <tr>
  	      <th colspan="2" class="left">
            <span>演奏料及びスタッフ人件費</span>
  				</th>
  	    </tr>
  	    <tr>
  	      <td scope="row" class="left">
            <span>実演料</span>
            <span data-toggle="tooltip" data-placement="top" title="パフォーマーへ支払われる金額(源泉税等込)です。">
              <%= fa_icon "question-circle", class:'gray' %>
            </span>
            <div style="text-align:right !important">(1人あたり報酬</div>
          </td>
  	      <td class="right"><%= (@offer.estimation.guarantee / (1 - withholding_tax_rate)).to_i.to_s(:delimited) %>円<br>
            <%= (@offer.estimation.guarantee  / (1 - withholding_tax_rate) / @performer.number_of_member).to_i.to_s(:delimited) %>円)
          </td>
  	    </tr>
  	    <tr>
  	      <td scope="row" class="left">
            <span>スタッフ人件費</span>
            <span data-toggle="tooltip" data-placement="top" title="パフォーマーにスタッフがいる場合の、スタッフ全員分の人件費(源泉税等込)です。">
              <%= fa_icon "question-circle", class:'gray' %>
            </span>
          </td>
  	      <td class="right">
            <%= (@offer.estimation.staff  / (1 - withholding_tax_rate)).to_i.to_s(:delimited) %>円
          </td>
  	    </tr>
  	    <tr>
  	      <td scope="row" class="left">
            <span>システム利用料</span>
            <span data-toggle="tooltip" data-placement="top" title="実演料とスタッフ人件費に対して一定割合が課金されます。(上限税別5万円)。">
              <%= fa_icon "question-circle", class:'gray' %> <br />
            </span>
          </td>
  	      <td class="right"><%= @offer.estimation.system_fee.to_s(:delimited) %>円</td>
  	    </tr>
  	    <tr>
  	      <td scope="row" class="right">
            <span>小計</span>
          </td>
  	      <td class="right">
            <%= subtotal_main(@offer.estimation).to_s(:delimited) %>円
          </td>
  	    </tr>
        <tr>
          <th colspan="2" class="left">
            <span>事前精算経費(実費相当)</span>
            <span data-toggle="tooltip" data-placement="top" title="各項目、パフォーマー側で手配する場合の事前経費となります。クライアントが手配する項目に金額が入っている場合は再見積りを依頼してください。">
              <%= fa_icon "question-circle", class:'gray' %>
            </span><br>
        	</th>
        </tr>
        <tr>
          <td scope="row" class="left">
            <span>交通費</span>
            <span data-toggle="tooltip" data-placement="top" title="パフォーマーから提示された交通費(電車・自動車含む)。">
              <%= fa_icon "question-circle", class:'gray' %>
            </span>
          </td>
          <td class="right"><%= @offer.estimation.transport.to_i.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td scope="row" class="left">
            <span>宿泊費</span>
            <span data-toggle="tooltip" data-placement="top" title="宿泊先をパフォーマー側で手配した場合の宿泊費。">
              <%= fa_icon "question-circle", class:'gray' %>
            </span>
          </td>
          <td class="right"><%= @offer.estimation.accommodation.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td scope="row" class="left">
            <span>運搬費</span>
            <span data-toggle="tooltip" data-placement="top" title="パフォーマー側で手配した場合の運搬費。">
              <%= fa_icon "question-circle", class:'gray' %>
            </span>
          </td>
          <td class="right"><%= @offer.estimation.carriage.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td scope="row" class="left">
            <span>楽器及び機材費</span>
            <span data-toggle="tooltip" data-placement="top" title="パフォーマー側で楽器・機材をレンタルする場合(特に大型楽器や音響)の費用。">
              <%= fa_icon "question-circle", class:'gray' %>
            </span>
          </td>
          <td class="right"><%= @offer.estimation.equipment.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td scope="row" class="left">
            <span>その他経費</span>
          </td>
          <td class="right"><%= @offer.estimation.other_expenses.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td scope="row" class="right">
            <span>小計</span>
          </td>
          <td class="right"><%= subtotal_expenses(@offer.estimation).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td scope="row" class="right">
            <span class="strong">税込総額</span><br>
            <span>(内消費税相当額</span>
          </td>
          <td class="right">
            <span class="strong"><%= total(@offer.estimation).to_s(:delimited) %>円<br></span>
            <%= (total(@offer.estimation) * sales_tax_rate / ( 1 + sales_tax_rate)).to_i.to_s(:delimited) %>円)
          </td>

        </tr>
  	  </tbody>
  	</table>

    <p id="estimation__annotation"class="annotation">
      ※表示価格は全て消費税込です。<br>
      ※演奏料、スタッフ人件費は源泉税込です。<br>
      ※四捨五入の関係で1円ほどの誤差が出る場合がございますが、この場合は合計金額(税込総額)が正しい数字となります。<br>
      ※見積りに相違がある場合はパフォーマーに再見積りを依頼してください。
    </p>


    <h4 class="title">見積り補足</h4>
    <%= description(@offer.estimation.detail) %>

  </div>

</div>
