<% @offers.each do |offer| %>
	<div class="container">
    <p> オファーID: <%= offer.id %> (作成日: <%= offer.created_at.strftime("%Y年%m月%d日") %>) </p>
		<div class="row">
			<div class="col-sm-9">
				<%= image_tag photo(get_photo_of_counterpart(offer.client, offer.contractor, offer.offered_performer)), class: "profile-32round" %>
				<%= get_name_of_counterpart(offer.client, offer.contractor, offer.offered_performer) %>
			</div>
			<div class="col-sm-3">
				<div class="right">
          <%= show_offer_status(offer.offer_status) %>
					<% unless offer.offer_status == 0 %>
						<%= link_to "確認", offer_path(offer.id), class: "btn btn-success btn-short" %>
					<% else %>
						<%= link_to "メッセージ", offer_path(offer.id), class:"btn btn-success btn-short" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<hr>
<% end %>

<%= render partial: 'partial/pagination', locals: { elements: @offers } %>
