<h4 class="title">概要</h4>
<% if @offer.payment.present? %>
  <div id="payment-detail">
    <div class="margin-1em">
      <p>お支払い総額: <%= @offer.payment.total.to_s(:delimited) %>円</p>
      <p>お支払い方法: <%= show_payment_option(@offer.payment.payment_options) %></p>
      <p>お支払い期限: <%= @offer.payment.payment_due.strftime("%Y年%m月%d日(%a) %H:%M") %>まで</p>
      <p>お支払い状況: <%= show_payment_status(@offer.payment.paid) %></p>
      <p class="annotation">※既にお支払い済みの場合、ステータスが更新されるまで最大1営業日ほどかかる可能性がございます。</p>
      <%= render partial: 'offers/payment_method_buttons', locals: { offer: @offer } %>
    </div>
  </div>
  <hr>

<% else %>
  <div class="container padding__1em">
    <p class="left">
      お支払いの詳細についてはパフォーマーの見積りをクライアントが承認後、ここに表示されます。<br>
    </p>
  </div>
<% end %>
