<%# 額面金額 %>
<p class="total-bill center">
  <span>ご請求金額: </span>
  <span class="strong"> ￥<%= total(payment).to_s(:delimited) %>-</span>
  <span>(税込)</span>
</p>

<div id="invoice">
	<table id="invoice__table" class="table">
	  <tbody>
	    <tr>
	      <th colspan="2" class="left">演奏料及びスタッフ人件費</th>
	    </tr>
	    <tr>
	      <td scope="row" class="left">実演料(源泉税込)</td>
	      <td class="right"><%= (payment.guarantee / (1 - withholding_tax_rate)).to_i.to_s(:delimited) %>円<br></td>
	    </tr>
	    <tr>
	      <td scope="row" class="left">スタッフ人件費(源泉税込)</td>
	      <td class="right"><%= (payment.staff  / (1 - withholding_tax_rate)).to_i.to_s(:delimited) %>円</td>
	    </tr>
	    <tr>
	      <td scope="row" class="left">システム利用料</td>
	      <td class="right"><%= payment.system_fee.to_s(:delimited) %>円</td>
	    </tr>
	    <tr>
	      <td scope="row" class="right">小計</td>
	      <td class="right"><%= subtotal_main(payment).to_s(:delimited) %>円</td>
	    </tr>
      <tr>
        <th colspan="2" class="left">事前精算経費(実費相当)</th>
      </tr>
      <tr>
        <td scope="row" class="left">交通費</td>
        <td class="right"><%= payment.transport.to_i.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <td scope="row" class="left">宿泊費</td>
        <td class="right"><%= payment.accommodation.to_i.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <td scope="row" class="left">運搬費</td>
        <td class="right"><%= payment.carriage.to_i.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <td scope="row" class="left">楽器及び機材費</td>
        <td class="right"><%= payment.equipment.to_i.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <td scope="row" class="left">その他経費</td>
        <td class="right"><%= payment.other_expenses.to_i.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <td scope="row" class="right">小計</td>
        <td class="right"><%= subtotal_expenses(payment).to_i.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <td scope="row" class="right">
          <span class="strong">税込総額</span><br>
          <span>(内消費税相当額</span>
        </td>
        <td class="right">
          <span class="strong"><%= total(payment).to_s(:delimited) %>円<br></span>
          <%= (total(payment) * sales_tax_rate / ( 1 + sales_tax_rate)).to_i.to_s(:delimited) %>円)
        </td>
      </tr>
	  </tbody>
	</table>
</div>
