<h4 class="title">準備</h4>

<div class="margin__top__1em">
  <p class="strong">音響機材等:</p>
  <p><%= description(@offer.equipments) %></p>

  <p class="strong">当日のリハーサル:</p>
  <p><%= description(@offer.rehearsal) %></p>

  <p class="strong">搬入経路および動線:
  <p><%= description(@offer.carry_in) %></p>

  <p class="strong">近隣駐車場:</p>
  <p><%= description(@offer.parking) %></p>

  <p class="strong">控室:</p>
  <p><%= description(@offer.dressing_room) %></p>

  <p class="strong">会場・ステージ:</p>
  <p><%= description(@offer.stage) %></p>

  <p class="strong">宿泊(必要な場合):</p>
  <p><%= description(@offer.accommodation) %></p>

  <p class="strong">その他:</p>
  <p><%= description(@offer.other_condition) %></p>
</div>
