<%= render 'offer_outline' %>

<nav class="nav nav-pills" id="OfferTab" role="tablist">
    <a class="nav-item nav-link" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat">メッセージ</a>
    <a class="nav-item nav-link" id="offer-tab" data-toggle="tab" href="#offer" role="tab" aria-controls="offer">内容</a>
    <a class="nav-item nav-link" id="estimation-tab" data-toggle="tab" href="#estimation" role="tab" aria-controls="estimation">見積</a>
    <a class="nav-item nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment">支払</a>
</nav>

<div class="tab-content" id="OfferTabContent">
  <!--チャットタブ-->
  <div class="tab-pane fade padding__1em show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
    <%= render 'contact' %>
  </div>

  <!--オファータブ-->
  <div class="tab-pane fade padding__1em <%= css_offer_expired?(@offer) %>" id="offer" role="tabpanel" aria-labelledby="offer-tab">
    <%= render 'offer_detail' %>
    <%= render 'offers/cancel_button', locals: { offer: @offer } %>
  </div>

  <!--見積りタブ-->
  <div class="tab-pane fade padding__1em <%= css_offer_expired?(@offer) %>" id="estimation" role="tabpanel" aria-labelledby="estimation-tab">
    <%= render 'estimation' %>
  </div>

  <!--支払いタブ-->
  <div class="tab-pane fade padding__1em <%= css_offer_expired?(@offer) %>" id="payment" role="tabpanel" aria-labelledby="payment-tab">
    <%= render 'payment' %>
  </div>
</div>

<script>
  $('.container').scrollTop($('#chat_messages')[0].scrollHeight);
  var contactId = $('#contactId').val();
  $(document).ready(function(){
    App.MakeContactChannel(contactId)
  });
</script>
