<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    【通知】オファー不成立
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    以下のオファーが見積り承認期限(オファー当日の3営業日前)を過ぎたため、不成立となりました。<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    オファーID: <%= @offer.id %> <br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %><br>
    場所: <%= @offer.place.to_s %><br>
    パフォーマンス開始日時(入り時間): <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
    パフォーマンス終了日時: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    本オファーの不成立をもってパフォーマーのスケジュールがリリースされ、当日パフォーマンスを行うことができなくなります。<br>
    何卒ご了承のほどお願い申し上げます。<br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    ご不明な点がある場合は<%= link_to "お問い合わせフォーム", new_inquiry_url %> よりお願いいたします。
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
