<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    【通知】オファー不成立
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    以下のオファーが見積り承認期限(オファー当日の3営業日前)を過ぎたため、不成立となりました。<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    オファーID: <%= @offer.id %> <br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %><br>
    場所: <%= @offer.place.to_s %><br>
    パフォーマンス開始日時(入り時間): <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
    パフォーマンス終了日時: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<tr>
  <td style="font-size:1.1em;font-weight:bold;padding:1em;">
    【重要】本オファーについては今後クライアントから来てほしいと言われても行かないでください。理由については以下ご一読ください。<br>
  </td>
</tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    現在、当該オファーは期限までにクライアントからの入金が確認できておらず、オファーが成立していない状態です。<br>
    クライアントからの入金がない場合に当社がパフォーマーの皆さまへお支払い、または立替払いをすることは一切できかねます。<br>
    また演奏料について直接金銭の授受があった場合は直接取引とみなされペナルティが発生します。<br>
    加えて現時点で見積りについても同意がなされていませんので、演奏料を巡りクライアントとトラブルになる可能性も残されています。<br>
    <br>
    現時点で発生しうるこれら全てのトラブルについて、当社は一切の責任を負うことができませんので何卒ご了承ください。<br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    ご不明な点がある場合は<%= link_to "お問い合わせフォーム", new_inquiry_url %> よりお問い合わせください。
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
