<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    見積りが承認されました
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    クライアントより見積りが承認されました。クライアントからの入金完了をもって、オファー確定となります。<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    ※まだオファーは確定していません。<br>
    <%= @offer.payment.payment_due.strftime("%Y年%m月%d日(%a)") %> 15:00までにクライアントからの入金が確認できない場合、このオファーは不成立となります。<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    承認された見積り総額: <%= total(@offer.estimation).to_s(:delimited) %>円<br>
    <br>
    承認されたオファー内容<br>
    <br>
    オファーID: <%= @offer.id %><br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %><br>
    場所: <%= @offer.place.to_s %><br>
    入り時間: <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
    終了時間: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
    実質演奏時間: <%= @offer.playing_time %>分<br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    本オファーについての今後の連絡はメッセージ画面より行って下さい。<br>
    <%= link_to "オファーの詳細を確認する", offer_url(@offer) %>
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
