<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    パフォーマーからの見積り<br>
    (オファーID: <%= @offer.id %>)
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    下のリンク「見積り詳細を確認」より内容をご確認ください。<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    「見積り詳細を確認」リンクより「見積」タブをクリックすると詳細をご覧いただけます。<br>
    内容をご確認の上、「承認」「非承認」「再見積り依頼」のいずれかの手続きを行ってください。<br>
    見積りに不明な点がある場合、「メッセージ」タブよりパフォーマーと連絡を取ることができます。<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    お見積り総額: <%= total(@offer.estimation).to_s(:delimited) %>円<br>
    <br>
    オファー詳細<br>
    <br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %> <br>
    場所: <%= @offer.place.to_s %> <br>
    入り時間: <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
    終了時間: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
    実質演奏時間: <%= @offer.playing_time %>分 <br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    <%= link_to "見積り詳細を確認", offer_url(@offer) %>
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
