<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    【要対応】新規オファー
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    以下のクライアントより新しいオファーが届きました。<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    本メール下部の「オファーの詳細を確認」リンクから「内容」タブをクリックすると詳細をご確認いただけます。<br>
    なるべくお早めに内容を確認し、クライアントにお見積りを提示してください。<br>
    ご不明な点がある場合は「メッセージ」タブよりクライアントとメッセージのやり取りができます。<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    オファーID: <%= @offer.id %><br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %><br>
    <br>
    オファー詳細<br>
    <br>
    クライアント名: <%= @client.basic.lastname.to_s %> + <%= @client.basic.firstname.to_s %>様 <br>
    場所: <%= @offer.place.to_s %> <br>
    入り時間: <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
    終了時間: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
    実質演奏時間: <%= @offer.playing_time %>分 <br>
    ドレスコード及び服装: <%= @offer.dresscode.to_s %> <br>
    クライアントからのリクエスト: <br>
    <%= simple_format(@offer.request_from_client) %>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    <%= link_to "オファーの詳細を確認", offer_url(@offer), class:"btn btn-success" %>
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
