<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    オファー確定通知(オファーID: <%= @offer.id %>)
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    以下オファーについてお支払いの確認が取れ、オファーが確定しました。<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    オファー詳細<br>
    <br>
    オファーID: <%= @offer.id %><br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %><br>
    場所: <%= @offer.place.to_s %> <br>
    入り時間: <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
    終了時間: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
    実質演奏時間: <%= @offer.playing_time %>分 <br>
    <br>
    お支払い総額: <%= @offer.payment.total %><br>
    お支払い方法: <%= view_payment_option(@offer.payment.payment_options) %><br>
    お支払い期限: <%= @offer.payment.payment_due.strftime("%m/%d") %><br>
    お支払い確認日時: <%= @offer.payment.recieved_at.strftime("%m/%d") %><br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    本メール下部のリンク「オファー詳細ページ」の「内容」タブの中に、パフォーマーの当日連絡先が表示されています。<br>
    必要に応じて直接パフォーマーにご連絡下さい。<br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    <%= link_to "オファー詳細ページ", offer_url(@offer), class:"btn btn-success" %>
  </td>
</tr>

<%= render 'cancel_policy' %>

<%= render 'partial/mailer_footer' %>
