<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    レビューのお願い
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    この度は当サービスをご利用くださりありがとうございました。<br>
    サービスの品質向上のため、レビューにご協力をお願いいたします。<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    完了したオファー<br>
    <br>
    オファーID: <%= @offer.id %> （支払ID: <%= @offer.payment.id %>）<br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %> <br>
    場所: <%= @offer.place.to_s %> <br>
    入り時間: <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
    終了時間: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %> <br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    もし万が一「当日パフォーマーが来なかった」、「欠員が発生した」等のイレギュラーが発生してしまった場合は、上記レビューページの「当社との連絡欄」よりお知らせください。<br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    <%= link_to "レビューする", offer_url(@offer), class: "btn btn-primary" %>
  </td>
</tr>

<!--結び文-->
<tr>
  <td style="padding:1em;">
    改めて当サービスの趣旨・目的をご理解くださった上でのご利用誠にありがとうございました。
    またのご利用を心よりお待ち申し上げております。
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
