<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    【通知】オファー不成立
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    以下の理由でオファーが不成立となりました。<br>
    理由: 支払期限切れ<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    オファーID: <%= @offer.id %> <br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %><br>
    場所: <%= @offer.place.to_s %><br>
    パフォーマンスの開始日時: <%= @offer.meeting_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
    パフォーマンスの終了日時: <%= @offer.release_time.strftime("%Y年%m月%d日(%a) %H:%M") %><br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    このオファーの復活をご希望の場合は、以下口座にご入金完了後、サポートよりご連絡下さい。<br>
    (金融機関が休業日の場合、入金明細のスクリーンショットが必要です)<br>
    <br>
    お振込金額: <%= @offer.payment.total.to_s(:delimited) %>円 ※手数料はご負担お願い致します。<br>
    <p style="font-weight:bold;">※ご入金期限: <%= (@offer.meeting_time - 2.days).strftime("%m/%d") %> 15:00まで</p>
    振込先口座<br>
    <br>
    三井住友銀行 小阪支店 普通 1188990<br>
    ムラタ ケンタロウ<br>
    <br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    <%= link_to "サポートに問い合わせる", new_inquiry_url %>
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
