<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    【通知】オファー不成立
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    パフォーマーがオファーを承認しなかったため、本オファーは成立しませんでした。<br>
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    引き続き本サービスのコンタクトからパフォーマーと連絡を取ることができます。<br>
    ご不明な点がある場合はパフォーマーに直接お問い合わせください。<br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    オファーID: <%= @offer.id %> <br>
    クライアント名: <%= @client.basic.lastname.to_s %> <%= @client.basic.firstname.to_s %> <br>
    オファーを受けるグループ: <%= @performer.performer_name.to_s %><br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    <%= link_to "このオファーの詳細を確認する。", offer_url(@offer), class:"btn btn-success" %>
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
