<!--ライブハウス トップ-->
<div class="container">
	<div class="row">
		<div id="ProfileCard">
			<h3 class="title"><%= @livehouse.profile_short %></h3>
		</div>
	</div>

	<!--プロフィール写真とレビュー、お気に入り-->
	<div class="row">
		<div id="livehouse__profile__photo" class="col-lg-4 margin__vertical__1em">
			<%= image_tag thumbnail(@livehouse.profile_photo), class:"profile__photo__large" %>
		</div>

		<div class="col-lg-8 margin__vertical__1em">
			<h4 class="livehouse__name"><%= @livehouse.livehouse_name %></h4>
			<table id="livehouse__profile__table" class="table left">
			  <tbody>
			    <tr>
			      <th scope="row" style="width:8em;">地域</th>
			      <td><%= @livehouse.area %></td>
			    </tr>
			    <tr>
			      <th scope="row" style="width:8em;">ジャンル</th>
			      <td><%= @livehouse.genre %></td>
			    </tr>
			    <tr>
			      <th scope="row" style="width:8em;">キャパシティ</th>
			      <td><%= @livehouse.capacity %> 人</td>
			    </tr>
			    <tr>
			      <td colspan="2" class="left">
							月間目標金額：<strong><%= @livehouse.required_amount.to_s(:delimited) %>円</strong><br>
							集まった金額：<strong><%= @livehouse.funded_this_month.to_s(:delimited) %>円</strong><br>
							<div class="graph">
							  <span class="bar" style="width:<%= @percentage %>%;"><%= @percentage %>%</span>
							</div>
						</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<!--支援ボタン-->
<div class="container">
	<div id="livehouse__profiles__button">
		<% if (user_signed_in? && current_user.id == @livehouse.user_id) %>
			<!--自分には依頼と問い合わせをできないようにする-->
			<p class="center"><%= link_to "編集", edit_livehouse_path, class: "btn btn-info" %></p>
		<% else %>
			<p class="center"><%= link_to "このライブハウスを支援する", new_donation_path(hash: livehouse_hash(@livehouse), id: encode_livehouse_id(@livehouse.id)), class: "btn btn-success disabled" %></p>
			<p class="strong red">
				現在ライブハウス募集期間中です。<br>
				支援金の受け入れ開始まで、今しばらくお待ち下さい。
			</p>
		<% end %>
	</div>
</div>

<div class="container">
	<hr>
</div>

<!--演奏動画-->
<div class="container">
	<div id="PlayingVideos">
		<h4 class="title">ライブハウスの動画</h4>
		<div class = "row">
			<%= movie(@livehouse.sample_movie_url1) %>
			<%= movie(@livehouse.sample_movie_url2) %>
			<%= movie(@livehouse.sample_movie_url3) %>
	 	</div>
	</div>
</div>

<div class="container">
	<hr>
</div>

<!--プロフィール詳細-->
<div class="container">
	<h4 class="title">プロフィール及びメッセージ</h4>
	<div class="profile__textarea">
		<%= description(@livehouse.profile_long) %>
	</div>

	<h4 class="title">支援金の使用目的</h4>
	<div class="profile__textarea">
		<%= description(@livehouse.purpose) %>
	</div>

	<h4 class="title">存続できなかった場合の対応について</h4>
	<div class="profile__textarea">
		<%= description(@livehouse.case_of_surrender) %>
	</div>

	<h4 class="title">その他記載事項</h4>
	<div class="profile__textarea">
		<p><%= description(@livehouse.conditions_detail) %></p>
	</div>

	<h4 class="title">ライブハウスの情報</h4>
	<table class="table left">
		<tr>
			<td>ライブハウス名</td>
			<td><%= @livehouse.livehouse_name %></td>
		</tr>
		<tr>
			<td>ホームページURL</td>
			<td><%= link_to @livehouse.shop_url.to_s, @livehouse_url %></td>
		</tr>
		<tr>
			<td>店舗所在地</td>
			<td>
				〒<%= @livehouse.zipcode %>&ensp;<%= @livehouse.pref %><%= @livehouse.city %>&ensp;<%= @livehouse.street.to_s %>&ensp;<%= @livehouse.bldg %>
			</td>
		</tr>
		<tr>
			<td>店舗電話番号</td>
			<td><%= @livehouse.shop_phone %></td>
		</tr>
		<tr>
			<td>運営会社</td>
			<td><%= @livehouse.company %></td>
		</tr>
		<tr>
			<td>運営責任者</td>
			<td><%= @livehouse.manager %></td>
		</tr>
	</table>

</div>

<div class="container">
	<hr>
</div>

<!-- メッセージ -->
<div class="container">
	<div id="Donate">
		<h4 class="title">支援者とメッセージ</h4>
		<p>
			<span><%= @donators.count %>人からのメッセージ</span>
		</p>
		<div class="donations__detail__wrapper">
			<% @donators.each do |donator| %>
				<p>
					<span class="annotation"><%= donator.nickname %> さん</span>
					<span class="annotation">(支援金額: <%= donator.amount.to_s(:delimited) %> 円)</span>
				</p>
				<p>
					<%= simple_format(donator.message) %>
				</p>
				<hr>
			<% end %>
		</div>
	</div>
</div>

<div class="container">
	<hr>
</div>

<!--この演奏家の所属グループ-->
<div class="container">
	<div id="Belongs">
		<h4 class="title">この運営者の他のライブハウス</h4>
		<%= render partial: 'partial/livehouse_list', locals: { livehouses: @groups } %>
	  <% unless @groups.present? %>
	    他のライブハウスは登録されていません。
	  <% end %>
	</div>
</div>

<div class="container">
	<hr>
</div>
