<!--タイトル-->
<tr>
  <td style="text-align:center;font-size:1.25em;text-decoration:underline;font-weight:bold;padding:1em;">
    パフォーマー登録/変更が承認されました
  </td>
</tr>

<tr><td style="padding:0.5em;"></td></tr>

<!--リード文-->
<tr>
  <td style="font-size:1.1em;padding:1em;">
    <%= @user.basic.lastname.to_s %> 様
  </td>
</tr>

<!--本文-->
<tr>
  <td style="padding:1em;">
    以下のパフォーマー登録/変更が承認されました。<br>
    <br>
    パフォーマーID: <%= @performer.id %><br>
    パフォーマー名: <%= @performer.performer_name.to_s %><br>
  </td>
</tr>

<tr><td style="padding:0.5em 1em;"></td></tr>

<!-- ハイライト -->
<tr>
  <td style="padding:1em;background-color:#ecf8ff;">
    <p style="font-weight:bold;">ページをシェアして、オファーを増やしましょう！</p>

    <p style="font-weight:bold;">シェアする方法</p>

    <p style="font-weight:bold;">1. HPやSNS、ブログ等にリンクを貼る</p>
      あなたのURLは以下の通りになります。<br>
      ウェブサイトやSNSにリンクを貼るほか、クライアントにLINE等でシェアも可能です。<br>
      <%= link_to performer_url(@performer), performer_url(@performer) %><br>
    <br>
    <p style="font-weight:bold;">2. 名刺を作成する</p>
      こちらより名刺のオーダーができます。<br>
      <%= link_to '名刺を作成する', new_name_card_url(id: @performer.id) %><br>
  </td>
</tr>

<tr><td style="padding:1em;"></td></tr>

<!--リンクパネル-->
<tr>
  <td style="padding:1em;background-color:#eeeeee;">
    オファーの実績に比例して検索順位は上がります。<br>
    ぜひ、たくさんオファーを取ってください！<br>
  </td>
</tr>


<%= render 'partial/mailer_footer' %>
